body {
    background: url(../img/fundo.png) repeat-x;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container{
    width: 1080px;
    margin: 0 auto;
}


a:link, a:visited, a:active {
    color:#af670a;
    text-decoration: none;
}

a:hover{
    color: green;
}

/* HEADER 
---------------------------- */

header {
    margin: 20px 0 50px 0;
}

#logo{
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png);
}


nav ul{
    float: right;
    list-style: none;

}

nav li {
    margin: 0 10px;
    display: block;
    float: left;

}

nav ul li a:link{
    padding-bottom: 3px;
    text-transform: uppercase;


}

nav ul li a:hover{
    border-bottom: solid 1px green;
    

}


/* CONTEUDOS 
------------------------------- */


#principal {
    width: 710px;
    float: left;
    margin-bottom: 50px;

}

aside {
    width: 350px;
    float: right;
    background: silver;
}


h4 {
    color: #A86E13;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
}

h3{
    color: #15714e;
    font-size: 1.0em;
    margin-bottom:  15px;
    text-transform: uppercase;

}

article#video {
    float: left;
    width: 310px;
    margin-left: 25px;
}

article#mapa {
    float: left;
    width: 310px;
    margin-left: 37px;
}

article#exposicoes {
    float: left;
    width: 310px;
    margin-left: 25px;
}

article#texto {
    float: left;
    width: 310px;
    margin-left: 37px;
}

legend{
    display: none;
}

fieldset{
    border: none;
}

.input {
    background: #835C48;
    width: 100%;
    color: #FFF;
    padding: 5px;
    margin-top: 10px;
}

#galeria{
    margin: 30px 24px;
}

#galeria img{
    margin: 2px;
}

#footer {
    background: url(../img/fundo-rodape.png) repeat-x top;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#footer a {
    margin: 0 10px;
}
